<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <ng-camera
    capture-message="Cheeeese!"
    countdown="3"
    output-height="160"
    output-width="213"
    viewer-width="426"
    viewer-height="320"
    crop-height="90"
    crop-width="120"
    image-format="jpeg"
    jpeg-quality="100"
    action-message="Take Picture"
    snapshot="vm.picture"
    flash-fallback-url="/assets/webcam.swf"
    overlay-url="/images/overlay.png"
    shutter-url="/assets/shutter.mp3"
    ></ng-camera>
</div>
